:root {
  --text-color-light: #f2f3f4;
  --text-color-primary: #854ce6;
  --background-color-dark: #090917;
  --border-color: #e8e8e8;
}
.main-container {
  width: 100%;
}

body {
  padding-bottom: 20px;
}
.pd {
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
}

.text-color-light {
  color: var(--text-color-light);
}
.text-color-primary {
  color: var(--text-color-primary);
}

.border-1 {
  border: 1px solid var(--border-color);
}

.pl-10 {
  padding-left: 10px;
}

/*  Scroolll bar effect start */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b1b2b3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #854ce6;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b2b3;
}

::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}

/*  Scroolll bar effect end */

/* Navbar section start */
.nav-main-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  color: white;
  background-color: var(--background-color-dark);
  margin-bottom: 20px;
}
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .nav-container {
    padding: 0 10px;
  }
}

.nav-container a {
  text-decoration: none;
  color: var(--text-color-light);
}

.nav-logo-container {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0 6px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}
.color-primary {
  color: var(--text-color-primary);
}
@media screen and (max-width: 768px) {
  .nav-logo-container h1 {
    font-size: 24px;
  }
}
.header-icon-container {
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.mobile-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

/* Navbar section end */

/* Edit Header start */

.edit-header-container {
  height: 2.75rem;
  border: 1px solid #e5e5e5;
}

.edit-header-sub-container {
  display: flex;
  height: 100%;
  padding: 0 10px;
}

/* Edit Header end */

.editor-container {
  position: relative;
  overflow: auto;
}

/* preview section start */
.preview-container {
  padding-left: 10px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .preview-main-container {
    display: none;
  }
}
/* preview section end */

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background-color-dark);
}

.footer-sub-container {
  display: flex;
  justify-content: space-between;
}

.footer-container a {
  font-size: 25px;
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color-primary);
}
